body {
  background-color: rgb(231, 231, 231);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* #container{
    
} */

header {
  width: auto;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: white;
  justify-items: center;
  align-items: center;
}

#logo img {
  width: 10rem;
  height: 3.5rem;
}

#search input {
  width: 400px;
  height: 35px;
  background-color: rgb(231, 231, 231);
  border: 4px solid rgb(231, 231, 231);
  border-radius: 4px;
  font-size: 1rem;
  opacity: 60%;
}

#search button {
  padding: 5px 15px;
  border: 4px solid orange;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-weight: bold;
}

#login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}

#login button {
  padding: 8px 15px;
  border: 4px solid blue;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: bold;
}

main {
  padding: 1rem;
  background-color: rgb(231, 231, 231);
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 15px;
}

#item_display {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(9, auto);
  justify-items: center;
  align-content: center;
  gap: 20px;
  font-size: 1rem;
}

.item {
  text-align: center;
}

#banner {
  width: 100%;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lower_banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.lower_banner_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#top_deals {
  background-color: white;
}

#top_deals h2 {
  text-align: center;
  padding: 20px;
}

.deal_items {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* justify-content: center; */
  justify-items: center;
  align-content: center;
  column-gap: 40px;
  margin-bottom: 20px;
}

.deal {
  border: 1px solid rgba(128, 128, 128, 0.2);
  padding: 8px;
  border-radius: 5px;
}

.deal img {
  width: 180px;
  height: 200px;
}

footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: baseline;
}

#f_link {
  text-align: center;
  padding: 15px;
}

#f_link ul {
  line-height: 36px;
  list-style: none;
  padding: 0;
}

#rights {
    background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
}

#rights p{
    margin: 0;
    padding-bottom: 8px;
}
